@import url('https://fonts.googleapis.com/css2?family=Lato:100,200,300,400,500|Gotu:100,200,300,400,500');

.hero-image {
    background: url("../images/microphone-on-mic-stand.jpg"); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    background-position: 80% 35%; 
    padding-top: 10px;
    padding-bottom: 60%;
    } 

body {
    background-size: cover;
    font-family: "Lato", sans-serif;
    }


/* ---------------------------------- HEADER / BAND NAME ------------------- */

 ul {
     list-style-type: none;
     font-size: 35px;
     margin: 0;
     padding-top: 10px;
     border-bottom: 10px;

     }
 
 li {
     display: inline;
     text-align: center;

 }

 li a {
    text-decoration: none!important; 
    margin:0;
     color: #464a4e;
     padding: 10px 30px;  
    text-align: center;
    }

  .nav-item a:hover { 
     color:#014b56;
     height: auto;
    } 

 .hero-image-container {
     height: 100%;
     width: 100%; 
     overflow: hidden; 
 }
  
  .hero-image-container h3 {
     font-family: "Lato", sans-serif;
     font-weight: 200;
     text-align: center;
     font-size: 50px;
     padding: 0;
     margin-bottom: 15px;
     letter-spacing: 3px;
     word-spacing: 5px;
     color:#014b56
 }


/* ---------------------------------- QUOTES SECTION ------------------- */





 

 /* --------- TOUR PAGE CONTENT ---------   */

 /* --- Code below copied from https://codepen.io/GeoffreyCrofte/pen/Hizkh ----  */

.diamond, .dia {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.diamond {
  transform: rotate(45deg) translateY(-25px) translateX(-25px);
}
.diamond .dia {
  width: 380px;
  height: 380px;
  transform: rotate(-45deg);
}
.diamond img {
  width: 100%;
  height: auto;
}

/* --- end of copied code --- */

 


/* ---------------------------------- FOOTER ------------------- */

.footer, .social-media-links {
    text-align: center;
    font-size: 5px;
}

.footer ul li a {
    color:grey;
} 

.footer ul li a:hover {
    color:#014b56;
}
