@import url('https://fonts.googleapis.com/css2?family=Lato:100,200,300,400,500|Gotu:100,200,300,400,500');

.hero-image {
    background: url("../images/microphone-on-mic-stand.jpg"); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    background-position: 80% 35%; 
    padding-top: 10px;
    padding-bottom: 40%;
    } 

body {
    background-size: cover;
    font-family: "Lato", sans-serif;
    }


/* ---------------------------------- HEADER / BAND NAME ------------------- */

 li {
     display: inline;
 }


 li a {
    text-decoration: none!important; 
    margin:0;
     color: #464a4e;
     padding: 10px 30px;  
     float: left;
    } 

 .hero-image-container {
     height: 100%;
     width: 100%; 
     overflow: hidden; 
 }
  
  .hero-image-container h3 {
     font-family: "Lato", sans-serif;
     font-weight: 200;
     font-size: 40px;
     padding-left: 0;
     margin-bottom: 15px;
     letter-spacing: 2px;
     word-spacing: 4px;
     color:#dde0e5;
 }
 

/* ---------------------------------- QUOTES SECTION ------------------- */
/*
#quotes {
    width: 40%;
    text-align: left;
}

.index-page-quotes p {
    font-size: 15px;
    font-family: "Gotu", sans-serif;
}

.index-page-quotes p i {
    font-size: 8.5px;
}

footer {
    padding-top: 0;
} */



 

 /* ---------  Tour section ---------   */

 .tour h2 {
     text-align: center;
     padding-top: 7px;
     font-size: 30px;
 }

 .container {
     padding-bottom: 20px;
 }

 .row {
     padding-top: 5px;
     padding-bottom: 5px;

 }

 .ticket {
    text-decoration: none!important;
    color: black;
 }

 .ticket:hover {
     color: #464a4e;
 }





 /* --- Code below copied from https://codepen.io/GeoffreyCrofte/pen/Hizkh ----  */

.diamond, .dia {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.diamond {
  transform: rotate(45deg) translateY(-25px) translateX(-25px);
}
.diamond .dia {
  width: 380px;
  height: 380px;
  transform: rotate(-45deg);
}
.diamond img {
  width: 100%;
  height: auto;
}

/* --- end of copied code --- */

 


/* ---------------------------------- SOCIAL LINKS ------------------- */

.footer, .social-media-links {
    text-align: right;
    list-style-type: none;
}


.footer ul li a {
    color:grey;
    padding-right: 5px;
    float: left;
    font-size: 23px;
} 

.footer ul li a:hover {
    color:white;
    }
